# Build Artifacts
Debug/
Release/
x64/

# VS project artifacts
.vs/
*.user
*.aps
src/keycast/vc140.pdb


# vscode artifacts and proj files
*.code-workspace
.vscode/tasks.json
.clang-format

# obsidian config
.obsidian/*



